In [52]:
# import libraries
import pandas as pd
import numpy as np
from scipy import stats

In [53]:
# Load data
df = pd.read_csv('food_consumption.csv')
df.head()

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96

**Calculating for Two Sample t-Test**

Is the beef consumption in Argentina significantly different from that in Bangladesh

H_0: Mean beef consumption (Argentina) = Mean beef consumption (Bangladesh)

H_1: Mean beef consumption (Argentina) != Mean beef consumption (Bangladesh)

In [54]:
# Select beef for Argentina
arg_beef = df[(df["country"]=="Argentina") & (df["food_category"]=="beef")]
arg_beef

   Unnamed: 0    country food_category  consumption  co2_emission
2           3  Argentina          beef        55.48        1712.0

In [55]:
# Select consumption for Argentina beef
arg_consump = arg_beef["consumption"]
arg_consump

2    55.48
Name: consumption, dtype: float64

In [56]:
arg_consump_mean = arg_consump.mean()
print("Mean Beef Consumption (Argentina):", arg_consump_mean)

Mean Beef Consumption (Argentina): 55.48

In [57]:
# Select beef for Bangladesh
bang_beef = df[(df["country"]=="Bangladesh") & (df["food_category"]=="beef")]
bang_beef

      Unnamed: 0     country food_category  consumption  co2_emission
1421        1422  Bangladesh          beef         1.28          39.5

In [58]:
# Select consumption for Bangladesh beef
bang_consump = bang_beef["consumption"]
bang_consump

1421    1.28
Name: consumption, dtype: float64

In [59]:
bang_consump_mean = bang_consump.mean()
print("Mean Beef Consumption (Argentina):", bang_consump_mean)

Mean Beef Consumption (Argentina): 1.28

In [60]:
rg_beef_samples = np.random.normal(loc=arg_consump_mean, scale=5, size=30)
rg_beef_samples

array([48.98882936, 60.22783121, 55.50432181, 56.22995608, 55.73841037,
       55.58792976, 47.11988125, 47.83648879, 54.95510108, 57.02102489,
       57.579715  , 49.52779572, 51.53374638, 55.85593934, 45.82326285,
       60.9360749 , 55.05971444, 52.44770212, 57.39412908, 53.97783725,
       51.1606934 , 49.25569197, 59.98971214, 57.21596381, 57.44850674,
       53.67690195, 55.61064079, 47.45412448, 59.8902785 , 52.41897356])

In [61]:
rg_beef_samples2 = np.random.normal(loc=bang_consump_mean, scale=5, size=30)
rg_beef_samples2

array([ 1.48220197,  3.16506528, -7.82643908,  0.55618733, -1.44184198,
       -4.1141158 , -4.96123146,  2.72569277, 12.73585841, -9.06802696,
        1.93795661,  6.0682502 ,  9.70759814, -2.88123315,  3.67109714,
        3.23970204,  1.46005527, -7.2947966 ,  3.94295548, -0.90641852,
        5.72648279,  3.38124708, -1.59441045, -6.50994947, -4.62584038,
       10.01945083,  0.06742107,  0.47323681,  0.40606148, -5.32026724])

In [ ]:
# Two sample t-test
t_stat, p_val = stats.ttest_ind(rg_beef_samples, rg_beef_samples2)
print("T-statistic:", t_stat)
print("P-value:", p_val)

T-statistic: 42.96056389907455
P-value: 1.1389277292836718e-45

**Interpretation from p-value:**

If p < 0.05, reject H_0 -> **beef consumption in Argentina significantly different from that in Bangladesh**

if p > or = 0.05, fail to reject H_0