In [5]:
# Load the data
import pandas as pd

sales = pd.read_csv("sales_data.xls")

In [3]:
# Read the data
sales.head()

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
0,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,4,3201,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,2,NGN,2024-03-30 04:19:10.406794,success,Saint Helena
1,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,5,3202,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,4,NGN,2024-03-30 04:19:10.406794,success,Saint Helena
2,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,9,3203,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,5,NGN,2024-03-30 04:19:10.406794,success,Saint Helena
3,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,12,3204,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,1,NGN,2024-03-30 04:19:10.406794,success,Saint Helena
4,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,6,3205,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,2,NGN,2024-03-30 04:19:10.406794,success,Saint Helena

**Data Inspection and Exploration**

In [6]:
# Information about the sales data
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578320 entries, 0 to 578319
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   customer_id      578320 non-null  object
 1   device_id        578320 non-null  object
 2   item_id          578320 non-null  int64
 3   line_item_id     578320 non-null  int64
 4   order_id         578320 non-null  object
 5   event_id         578320 non-null  int64
 6   event_timestamp  578320 non-null  object
 7   quantity         578320 non-null  int64
 8   currency         578320 non-null  object
 9   checked_out_at   578320 non-null  object
 10  status           578320 non-null  object
 11  location         578320 non-null  object
dtypes: int64(4), object(8)
memory usage: 52.9+ MB

In [7]:
# To get the statistical summary
sales.describe()

             item_id   line_item_id       event_id       quantity
count  578320.000000  578320.000000  578320.000000  578320.000000
mean        7.995741   19034.444880   88235.379821       3.009861
std         4.322902    9153.541683   42541.874688       1.406914
min         1.000000    3201.000000   14786.000000       1.000000
25%         4.000000   11108.000000   51318.000000       2.000000
50%         8.000000   19067.000000   88373.000000       3.000000
75%        12.000000   26960.000000  125003.000000       4.000000
max        15.000000   34941.000000  161960.000000       5.000000

**Data Cleaning**

In [9]:
# Check for missing values
sales.isnull().sum()

customer_id        0
device_id          0
item_id            0
line_item_id       0
order_id           0
event_id           0
event_timestamp    0
quantity           0
currency           0
checked_out_at     0
status             0
location           0
dtype: int64

In [11]:
# Check for duplicates
sales.duplicated().sum()

np.int64(0)

In [12]:
# Check for data types
sales.dtypes

customer_id        object
device_id          object
item_id             int64
line_item_id        int64
order_id           object
event_id            int64
event_timestamp    object
quantity            int64
currency           object
checked_out_at     object
status             object
location           object
dtype: object