In [4]:
import pandas as pd

books = pd.read_csv(r'library_data\books.csv')

books.isnull().sum()

BookID               0
Title                0
AuthorID             0
Genre                0
DateOfPublication    0
Publisher            0
ISBN                 0
Language             0
AvailableCopies      0
AgeRating            0
dtype: int64

In [7]:
bookorders = pd.read_csv(r'library_data\bookorders.csv')

bookorders.isnull().sum()
bookorders.FulfillmentStatus.value_counts()
bookorders.columns

Index(['OrderID', 'OrderDate', 'BookID', 'Cost', 'Quantity', 'SupplyDate',
       'FulfillmentStatus', 'NameOfSupplier'],
      dtype='object')

In [8]:
borrowed_history = pd.read_csv(r'library_data\borrowhistory.csv')

borrowed_history.isnull().sum()

BorrowHistoryID     0
BookID              0
MemberID            0
BorrowDate          0
ReturnDate         30
dtype: int64

In [10]:
library_staff = pd.read_csv(r'library_data\librarystaff.csv')

library_staff.isnull().sum()
library_staff.head()

,StaffID,Name,JobTitle,DepartmentID,Gender,Address,PhoneNumber,HireDate,ManagerID
0,1,Jennifer Walsh,Head Librarian,1,Female,892 Library Lane Springfield IL,+1-555-2001,2018-01-15,NaN
1,2,Mark Patterson,Assistant Librarian,1,Male,445 Book Street Chicago IL,+1-555-2002,2019-03-10,1.0
2,3,Rebecca Foster,Children's Librarian,2,Female,678 Story Avenue Evanston IL,+1-555-2003,2020-06-22,1.0
3,4,Thomas Anderson,Reference Librarian,3,Male,234 Research Drive Naperville IL,+1-555-2004,2021-01-08,1.0
4,5,Maria Gonzalez,Circulation Manager,4,Female,567 Checkout Lane Aurora IL,+1-555-2005,2019-09-15,1.0